# Intro to Python - Lecture 1
## IEEE AUS Student Branch
### Dana Osama

## Print Statements

In [ ]:
# Using double or single quotes makes no difference in Python - unlike other 
# programming languages
print("Hello, world!") 
print()
print('\n')
print("The above two print statements print two empty lines.")

Hello, world!



The above two print statements print two empty lines.

In [ ]:
# You can also pass a variable containing a string, like so:
name = 'Jessica'
print(name)

Jessica

In [ ]:
# What if the variable is not a string - i.e. not between '' or ""
age = 21
print(age)
print(type(age))

21
<class 'int'>

In [ ]:
# Using the keyword arguments
# Here, we passed four arguments, two of which are keyword arguments
print("Hello","world", sep ='.', end = ':)')
print()

Hello.world:)

In [ ]:
# This might be useful if you want to print a file path
print("C:", "Users", "admin", "Desktop", "IEEE", sep = "\\")
# FYI, the sep and end keyword arguments can take None as an argument
# The None keyword is used to define a null value, or no value at all. 
# None is not the same as 0, False, or an empty string. None is a datatype of 
# its own (NoneType) and only None can be None.

C:\Users\admin\Desktop\IEEE

### Escaping Special Characters
Some characters in python are special characters, like '\n' - the newline character,  '\t' - the tab character, and '\r' - the carriage return character. Carriage return is essentially where your cursor is pointing. If you want to literally print out any of those characters, they must be escaped using the backslash \ .

In [ ]:
# Escaping the tab character by putting \ before the special character
print('\\t')
# If we do not escape it, it will print a tab.
# I will add more text so it's visible
print("Hello,",'\t',"world!")

\t
\\\\
Hello, 	 world!

In [ ]:
# You can print multiple strings together using the string concatentation operator '+'
# This method constructs a new string
name = "Suhaib"
print("Hello, " + name + "!")

Hello, Suhaib!

### Type-casting
Type-casting is when you convert a variable value from one type to another. That is, in Python, done with functions like int() or float() or str()

* **int()** - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
* **float()** - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* **str()** - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
# The concatentation method used above may face some problems if one of the values
# was not a string
age = 21
#print("I am " + age + "!")

# To solve this, just type-cast the problematic value into a string:
print("I am " + str(age) + "!")

I am 21!

### Formatted Printing

#### Basic Formatting
Simple positional formatting is probably the most common use-case. Use it if the order of your arguments is not likely to change and you only have very few elements you want to concatenate.

Since the elements are not represented by something as descriptive as a name this simple style should only be used to format a relatively small number of elements.

**Reference:** [PyFormat](https://pyformat.info/)

In [ ]:
# Simple positional formatting
name = "Jack"
age = 85
print("My name is {} and I am {}.".format(name, age))
# Notice how this formatting does not give you a Type error

My name is Jack and I am 85.

## Getting Input

In [ ]:
# You can get input without using a prompt
# This is usually a bad design, but it works  ¯\_(ツ)_/¯
# name = input()

# Or provide a prompt
# This is better design, since the user won't just see a blinking cursor with 
# no idea what to do
name = input("What's your name? ")
print("Hello,", name)

What's your name? Dana
Hello, Dana

In [ ]:
# We can write a small program that includes everything we learnt
# First, let's get to know our user
name = input("What's your name? ")
age = input("How old are you? ")

# Now, let's print a nice "summary"
print("Hello, {}! You are {}!".format(name.capitalize(), age))

What's your name? Dana
How old are you? 21
Hello, Dana! You are 21!

## Control Flow: Basics of Logic

In [ ]:
x = True
y = False

print("x and y evaluates to: ", x and y)
print("x or y evaluates to: ", x or y)
print("not x evaluates to: ", not x)
print("not y evaluates to: ", not y)

x and y evaluates to:  False
x or y evaluates to:  True
not x evaluates to:  False
not y evaluates to:  True

In [ ]:
x = 5
y = 4
z = 4
print("x is equal to y: ", x == y)
print("x is not equival to y: ", x != y)
print("x is greater than y: ", x > y)
print("y is less than or equal to x: ", y <= x)
print("z is greater than or equal to y: ", z >= y)

x is equal to y:  False
x is not equival to y:  True
x is greater than y:  True
y is less than or equal to x:  True
z is greater than or equal to y:  True

##Control Flow: If Statements

In [ ]:
# Let's create a small program that computes a person's BMI (Body Mass Index)
# First, ask the user for their height and weight
height = input("Height (m):")
weight = input("Weight (kg):")
print(type(height))
height = float(height)
print(type(height))
# Now, we calculate the BMI
# The ** operator is known as the exponent operator or power operator
# b raised to the power n would be coded as b**n
BMI = float(weight) / (float(height)**2)

# Let's print out the classification of the BMI
# Based on: https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmicalc.htm
if (BMI < 18.5):
  print("Underweight")
elif (BMI >= 18.5 and BMI < 25):
  print("Normal weight")
elif (BMI >= 25 and BMI < 30):
  print("Overweight")
else:
  print("Obese")

##Control Flow: While Loops

In [ ]:
# We can see how a while loop works in a simple manner
x = 5
while(x <= 10):
#while (x < 10):
  print("x: ", x)
  x += 1

# Checking for the actual value of x after the loop
print("x after the loop:", x)

x:  5
x:  6
x:  7
x:  8
x:  9
x:  10
x after the loop: 11

In [ ]:
# You can also add an else block, which will be executed when the while condition 
# is False
x = 5
while (x < 10):
  print("x: ", x)
  x += 1
else:
  print("x's final value is: ", x)

x:  5
x:  6
x:  7
x:  8
x:  9
x's final value is:  10

##Control Flow: For Loops

In [ ]:
# We will use a basic list for now and learn more about them later
colors = ['blue', 'red', 'yellow', 'green']

# Let's print the colors using a for loop
for color in colors:
  print(color)

blue
red
yellow
green

Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method.

In [ ]:
colors = ['blue', 'red', 'yellow', 'green']

# You can also use indices using the enumerate method
for i, color in enumerate(colors):
  print(str(i + 1) + ". " + color)

1. blue
2. red
3. yellow
4. green

##Control Flow: Useful Statements

### The break Statement

In [ ]:
# Using the break statement can be useful if we want to stop the loop once we 
# "find" a target
colors = ['blue', 'red', 'yellow', 'green']
target = 'orange'

for color in colors:
  if color == target:
    break
  # We can put the print in an else statement, but there is no need for that
  print(color)

blue
red
yellow
green

### The continue Statement

In [ ]:
# Using the continue statement can be useful to skip a certain entry in an iterable
# and continue with the next iteration
colors = ['blue', 'red', 'yellow', 'green']
skip = "red"

for color in colors:
  if color == skip:
    continue
  print(color)

blue
yellow
green

##Control Flow: The range() Function

In [ ]:
# Simple range loop
# We will just print the numbers from 0 to 10, inclusive
# This means that in our range loop, our end should be 11 
for i in range(11):
  print(i)

In [ ]:
# Let's include a start number for the range loop
for i in range (1, 11):
  print(i, end = " ")
# Notice how the loop starts from 1 now instead of 0

1 2 3 4 5 6 7 8 9 10

In [ ]:
# Finally, let's include a step number to print only odd numbers
for i in range(2, 10, 2):
  print(i, end = " ")

2 4 6 8

## Final Notes on Loops

In [ ]:
# You can nest as many loops as you want, but be careful!
# You don't want to kill your PC's resources 

# Let's print the multiplication table for numbers 2 through 10, inclusive

for i in range(1, 11):
  for j in range(2,11):
    print("{}x{}={}".format(j, i, i*j), end = "\t")
  print()

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9	10x1=10
2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18	10x2=20
2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27	10x3=30
2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36	10x4=40
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45	10x5=50
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54	10x6=60
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63	10x7=70
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72	10x8=80
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81	10x9=90
2x10=20	3x10=30	4x10=40	5x10=50	6x10=60	7x10=70	8x10=80	9x10=90	10x10=100

In [ ]:
# Incorportating else statements in your loops can be useful
# It can be more descriptive than a simple break statement, like below:
x = 10
y = 5
while(x > y):
  print("x is still greater than y!")
  y += 2
  print("y = {}".format(y))
else:
  print("y is greater than x!")
  print("y = {}".format(y))

x is still greater than y!
y = 7
x is still greater than y!
y = 9
x is still greater than y!
y = 11
y is greater than x!
y = 11